name: build

on: [push]

permissions:
  contents: read

jobs:
  build:
    name: build & test
    runs-on: windows-latest
    strategy:
      matrix:
        dotnet-version: ["8.0.x"]

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      - name: Install dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: Test
        run: dotnet test --no-restore --verbosity normal
      - name: Test package
        run: dotnet pack -c Release -o ./nupkg SC.Core/SC.Core.csproj
      - name: Test binary
        run: |
          dotnet publish SC.GUI/SC.GUI.csproj --configuration Release --os win --arch x64 --self-contained
