name: build

on: [push]

jobs:
    build:
        name: build & test
        runs-on: windows-latest
        strategy:
            matrix:
                dotnet-version: ["7.0.x"]

        steps:
            - uses: actions/checkout@v2
            - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
              uses: actions/setup-dotnet@v1.7.2
              with:
                  dotnet-version: ${{ matrix.dotnet-version }}
            # - name: Validate version consistency
            #   run: bash validate-version-consistency.sh
            #   working-directory: ./Material/Scripts
            #   shell: bash
            - name: Install dependencies
              run: dotnet restore
            - name: Build
              run: dotnet build --configuration Release --no-restore
            - name: Test
              run: dotnet test --no-restore --verbosity normal
